@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #D9E9FF;
    font-family: 'Montserrat', sans-serif;
    color: #060606;
}

#cuadro {
    position: absolute;
    background-color: #A2D5F2;
    margin-top: 10px;
    margin-left: 80px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #060606;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
}

.fila {
    line-height: 0px;
}

.pared {
    background-color: #07689F;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.sushi {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("img/sushi.png");
    background-size: contain;
}

.onigiri {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("img/onigiri.png");
    background-size: contain;
}

.vacio {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}

#ninjaman {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("img/ninja.gif");
    background-size: contain;
    position: absolute;
}

#pumpky {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("img/pumpky.gif");
    background-size: contain;
    position: absolute;
}

#contenedor1 {
    background-color: #40A8C5;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #060606;
    border-radius: 10px;
}

.texto {
    font-weight: bold;
}

.resultado {
    margin-left: 20px;
}

#contenedor2 {
    background-color: #40A8C5;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #060606;
    border-radius: 10px;
}

#reiniciar {
    background-color: #FEC93B;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #060606;
    border-radius: 10px;
}

#reiniciar:active {
	transform: scale(0.95);
}